.container{
    max-width: 1400px;
    height: 90px;
    background-color: #151515;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-company{
    max-width: 72px;
    height:60px;
    margin-left: 235px;
}

.box-number{
    max-width: 90px;
    height: 23px;
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    align-items: center;
    cursor: pointer;
}


.number{
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
    color: #fff;
}

.box-icon-site{
    max-width: 110px;
    height: 22px;
    margin-left: 512px;
    margin-top: -60px;
    display: flex;
    flex-direction: row;
}

#icon-site-ferst{
    max-width: 22px;
    height: 22px;
    margin-top: 30px;
}

#icon-site{
    margin-left: 16px;
    max-width: 22px;
    height: 22px;
    margin-top: 30px;
}

.language-en{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 51px;
    margin-top: -0px;
    cursor: pointer;
}

.language-ru{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-left: 13px;
    margin-top: -0px;
    cursor: pointer;
}

.icon-basket{
    width: 33px;
    height: 33px;
    margin-left: 37px;
    cursor: pointer;
}

.icon-menu{
    width: 33px;
    height: 33px;
    margin-left: 16px;
    cursor: pointer;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    margin-top: 500px;
    width: 220px;
    height: 500px;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.menu-items {
   width: 200px;
height: 400px;
background: rgba(24, 24, 24, 0.95);
margin-top: 100px;
margin-left: -90px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    margin-left: -10px;
}

.menu-item:hover {
    color: #00ff00;
    z-index: 3;
}

.menu-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid #00ff00;
}

.menu-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.social-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    cursor: pointer;
}

.social-icon:hover {
    filter: drop-shadow(0 0 5px #00ff00);
}
